@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {

  #menu-toggle:checked ~ #mobile-menu #menu-content {
    display: block;
  }
  
  #mobile-menu #menu-content {
    display: none;
  }
  
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .product-box {
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-box:hover .product-inner-box {
    transform: scale(1.05); /* Adjust the scale value as needed */
  }
  
  .product-inner-box {
    transition: transform 0.3s ease-in-out;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Ensure the 3D perspective is set on the container */
.flip-container {
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.flip-card.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Add this to your global stylesheet */
.relative {
  position: relative;
}

.quote-border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  border-left: 4px solid #4f46e5; /* Border color */
  z-index: 1;
}

.quote-container {
  position: relative;
  padding-left: 1.5rem; /* Adds space for the border */
  z-index: 2;
  opacity: 0; /* Start invisible */
  transform: translateX(-100%); /* Start off-screen to the left */
  animation: slideInFromBorder 1s ease-out forwards; /* Animation name */
}

@keyframes slideInFromBorder {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.grid-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */

  /* Other flexbox properties as needed */
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px; /* Adjust gap as needed */
  }
}

.flip-card-back {
  transform: rotateY(180deg);
}

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}
